<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ford.messi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20" />
    
    <uses-feature android:name="android.hardware.telephony" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <application
        android:name="com.ford.messi.applink.AppLinkApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <activity
            android:name="com.ford.messi.applink.AppLinkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.ford.messi.sms.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >          
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        
        <activity
            android:name="com.ford.messi.sms.LockScreenActivity"
            android:label="@string/title_activity_lock"
            android:screenOrientation="portrait" >
        </activity>      

        
        <service 
            android:name="com.ford.messi.applink.AppLinkService" >
        </service>
        
        <receiver android:name="com.ford.messi.applink.AppLinkReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.ford.messi.sms.SmsReceiver" >
            <intent-filter> 
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    
    </application>

</manifest>